/* style rules for header */
header {
    display: flex;
    justify-content: space-between;
}

h1 {
    padding: 10px;
    font-size: 25px;
}

#high-score {
    color: blue;
}

/* style rule for main screen section */
#main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-screen p {
    font-size: 18px;
    margin: 0 10%;
}

#start-quiz {
    color: white;
    background: blue;
    margin: 3% 0;
}

/* style rule for question sections */
.quiz-sections {
    display: none;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.answers-button{
    color: white;
    background: blue;
    text-align: left;
    margin-bottom: 5%;
}

/* style rule for enter-initial section */
#enter-initials {
    display: none;
    flex-direction: column;
    align-items: center;
}

#initials {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#initials button {
    color: white;
    background: blue;
}

#initials input, button {
    height: min-content;
}

#initials h3, input, button{
    margin-right: 10px;
}

/* style rule for display high score section */
#display-highScore {
    display: none;
    flex-direction: column;
    align-items: center;
}

#label-section {
    width: 20%;
    background-color: gainsboro;
    padding-left: 10px;
    margin-bottom: 1%;
}

#two-buttons button {
    color: white;
    background: blue;
}